:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --rosa-music: rgb(178, 110, 240);
    --verde-palid: rgb(117, 235, 202);
    --azul--pal: rgb(30, 31, 205);
    --azul-oscuro: #192C48;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: system, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  margin: 0;
  background-color: #121212;
}




.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20px;
  min-height: 50px;
  position: sticky;
  align-items: center;
  top: 0px;
  justify-content: end;
}
.nav-flex {
  display: flex;
  width: 100%;
  margin-right: 10px;
  flex-direction: row;
  justify-content: end;
}
.nav-item {
  display: flex;
  margin-right: 10px;
}


.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 92vh;
  min-height: 600px;
  position: sticky;
  align-items: center;
  top: 50px;
}
.sidebar-item {
  display: flex;
  margin-bottom: 5px;
  padding: 5px;
  margin: 5px;
}

.side-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  min-height: 180px;
  position: sticky;
  top: 5%;
  padding-bottom: 10px;
  align-items: center;
}

.main {
  width: 100%;
  height: 300vh;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  top: 12%;
}

/*Format start*/
.main,
.side-1{
  border: 3px solid var(--azul--oscuro);
  background-color: #192C48;
  border-radius: 10px;
  color:white;
  padding: 15px;
}

.sidebar, .nav{
  border: 3px solid var(--azul--oscuro);
  background-color:#192C48;
  border-radius: 10px;
  color:white;
  padding: 10px;
}
.nav{
  margin-bottom: 10px;
  padding-left: 15%;

}
.side-1{
  padding:10px;

}

  
/*Format-end 
  grid-template-columns: auto auto auto;*/


.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 25px;
  flex-direction: column;
  justify-content: space-between;
  grid-template-columns: 1fr 3fr;

}

body {
  padding: 2%;
  background-color: white;
  font-size: 20px;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

code, pre {
  background-color: #192C48;
  padding: 0 3px;
  border-radius: 5px;
}

.bottom {
  justify-self: bottom;
}

.btn {
    border-radius: 5px;
    color: #330C15;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
    
    
}

.btn-alt {
    border: 1px solid white;
    padding: 10px 30px;
}

a, p, h4 {
  text-decoration: none;
  color: white;
}
.btn-alt:hover {
  background: var(--azul--pal);
  color: var(--azul--pal);
}
.logo{
  margin-top: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.project-container {
    display: flex;
    margin-top: 10px;
    padding: 10px 0px;
    justify-content: start;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
}
