<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentences for motivations</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="cards">
        <div class="card">
            <img class="hero-image" src="static/illustration-hero.svg" alt="Hero image">
            <div class="container">
                <h2 class="title">Order Summary</h2>  
                <p class="order-description">Random frases: {{ frase }}
                </p>
                <div class="plan-container">
                    <img src="static/icon-music.svg">
                    <div class="plan-description">
                        <strong>Annual Plan</strong>
                        <p>$59.99/year</p>
                    </div>
                    <a href="#">Change</a>
                </div>
                <button class="proceed-button">Proceed to payments</button>
                <button class="cancel-button">Cancel order</button>
            </div>
        </div>
        <div class="card">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/IYd1-cPwQCk?si=sKrGYwJz23QBi6gw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="container">
                <h2 class="title">Order Summary</h2>  
                <p class="order-description">You can now listen to millions of songs, audiobooks, and podcasts on any
                    device anywhere you like!
                </p>
                <div class="plan-container">
                    <img src="static/icon-music.svg">
                    <div class="plan-description">
                        <strong>Annual Plan</strong>
                        <p>$59.99/year</p>
                    </div>
                    <a href="#">Change</a>
                </div>
                <button class="proceed-button">Proceed to payments</button>
                <button class="cancel-button">Cancel order</button>
                <div class="dropdown">
                    <button class="dropbtn proceed-button">Cancel order</button>
                    <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>