<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Dr.Roberto Ramirez Martinez</title>
     <link href="/static/style.css" rel="stylesheet" type="text/css" />
  </head>
    <header class="nav">
        <div>
        <ul class="nav-flex">
            <li class="nav-item"><a href="#hero">Home</a></li>
            <li class="nav-item"><a href="#about">About</a></li>
            <li class="nav-item"><a href="#archive">Archive</a></li>
            <li class="nav-item"><a href="/static/resume.pdf"  target=_blank>Resume</a></li>
        </ul>   
        </div>   
    </header>
  <body>
  <div class="wrapper">
  <div class="sidebar">
    <img align="center" src="../static/me.JPG" width="160" style="border: white 2px solid;" alt="Photo Credit: Alice">
    <h4 class="sidebar-item">Resume</h4>
    <p class="btn btn-alt"><a href="https://www.xoc.uam.mx/" target=_blank >School Formation</a>
    <h4 class=" sidebar-item">I will follow you!</h4>
    <p class="sidebar-item"><a href="/static/resume.pdf"  target=_blank>resume</a>
    <div class="side-1">
    <h3>Project</h3>
    <p><a href="https://flask-random-motivation.vercel.app/" target=_blank>Music</a>
    <p><a href="https://drr7data.github.io/web-with-r.github.io/" target=_blank>work with R</a>
    <p><a href="https://alicem-v-1.vercel.app/" target=_blank>Marthel</a>
    </div>
     <div class="side-1 ">
    <h3>Find me</h3>
    <a href="https://www.facebook.com/Dr.RobertoRamirezM/" target="_blank">Facebook</a>
    <a href="https://www.linkedin.com/in/roberto-ramírez-martínez-919288284" target="_blank">LinkedIn</a>
    <a href="https://www.instagram.com/dr_roberto_ramirezm//" target="_blank">Instagram</a>
    <a href="https://bsky.app/profile/drrobertoramirez.bsky.social" target="_blank">Bsky</a>
    </div>
  </div>
  <div class="main">
    <section id="hero" class="project-container">
    <br>
    <div class="logo">
    <h2>Dr. Roberto Ramírez Martínez</h2>
    <img align="center" src="/static/logo-rr2.png" width="200" id= "Home" alt="Photo Credit: Alice">
    </div>
    <br>
    <br>
    <H3>Frases de Motivacion</H3>
    <p class="order-description">Random frases: {{ frase }}
    </p>
    </section><section id="about" class="project-container"><h3>About</h3>
    <p>
      🩺Soy el Dr. Roberto Ramírez, Médico Cirujano por la Universidad Autónoma Metropolitana. <br>
        Cuento con más de 5 años de experiencia laborando en consulta privada y 4 años dentro del equipo médico del Hospital General 30 Camas De Malpica en el cuál, durante la pandemia, estuve a cargo del área de Urgencias y COVID. <br>
        🔹Soy originario de La Luz Llano del Nopal y actualmente radico en Putla Villa de Guerrero. <br>
        🏥Durante mi experiencia universitaria participé en diversas prácticas en institutos de gran importancia dentro de la Ciudad de México, uno en los que más se me permitió aprender fue dentro del Hospital General Milpa Alta donde tuve la oportunidad de trabajar a lado de otros especialistas reconocidos. <br>
        🔹Una vez finalizados mis estudios decidí regresar a Putla Villa de Guerrero para ofrecer mis servicios y conocimientos a las personas de ésta gran población. <br>
        🔹Durante la pandemia fui miembro activo atendiendo pacientes COVID dentro del hospital y a nivel domicilio, labor por la cual recibí un reconocimiento otorgado por la Secretaría de Salud. <br>
        🔹Actualmente atiendo en mi propio consultorio pacientes de diferentes comunidades y en idioma triqui.
    </p>
    </section><section id="archive" class="project-container"><h3>Archive</h3>
       <p>Esta es una pagina web de portafolio del Dr. Roberto Ramirez Martinez, medico cirujano</p>

  </div>
  </div>
  <script  src="/static/script.js"></script>
    
  </body>
  
</html>
